/* Mobile */
@media screen and (max-width: 850px) {
	.wrapper{
		padding-top: 10px;
		}header nav{
		position: absolute;
		width: 100%;
		margin: 140px 0px 20px 0;
		border-bottom:1px solid #F2F2F2;
		text-align: center;
		display:flex;
	}
	span{
		padding-right: 20px;
	}
	header nav a:nth-child(1){width: 50%}
	header nav a:nth-child(2){width: 50%}
	header nav a{
		padding: 20px 30px 10px 40px;
	}
	header nav a[data-active=true]{
		color: #0065FC;
		padding-bottom:10px;
		border-bottom:2px solid #0065FC;
	}
	header nav a:hover{	
		color: #0065FC;
		padding-bottom:10px;
		border-bottom:2px solid #0065FC;
	}
	#search{
		display: flex;
		margin-left: 10px;
		margin-right: 10px;
		justify-content: center;
	}
	h1{
		margin: 80px 20px 10px 0;
	}
	#search i{
		padding-left: 20px;
		padding-right: 20px;
	}
	#search button span{
		display:none;
	}
	#search button{
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		margin-left: -10px;
	}
	.section{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
	}
	#info{
		margin-left:20px;
		padding-bottom: 20px;
	}
	.box{
		display:flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.box .section{
		order:2;
	}
	.box .aside{
		order:1;
	}
	.aside{
		background-color: #F2F2F2;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		width: 100%;
	}
	.element, .elementpop{		
		justify-content: space-between;
		box-shadow: 0 10px 20px #F2F2F2;
		background-color: white;
		line-height: 1.4em;
		padding: 3px;
		border-radius: 20px;
		color:black;
		border: none;
		margin:20px 10px 20px 10px;
	}
	.section img{
		border-top-right-radius: 20px;
	}
	.section img, .aside img{
		border-top-left-radius: 20px;
		width: 100%;
		height: 150px;
		object-fit: cover;
		object-position: center center;
	}
	#hobbies{
		padding-left: 20px;
	}
	.activities {
		grid-template-columns: 1fr;
		grid-gap: 25px;
		margin:0 10px 0 10px;
		grid-template-rows: 200px 200px 200px 200px 200px 200px;
	}
	footer .wrapper {
		flex-direction: column;
		padding: 20px;
	}
 	footer .link{
		padding: 0;
		margin: 20px 0;
  	}
}