/* Global */
*
{
font-family: 'Raleway'
border-box: box-sizing;
}

Body
{
    max-width: 1400px;
    margin: 0 auto;
}
p, h2, h4
{
      margin-left: 40px; 
      font-weight: bold; 
}

h4 i
{
    color: blue;
        font-weight: bold;
}

#bloc_page
{
    width: 100%;
    margin: auto;
}
#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
          margin-left: 40px;
}
/* Header */
header
{
	display:flex;
	justify-content: space-between;
	align-items: flex-end;
    background: url('images/separateur.png') repeat-x bottom;
}
label
{
    background-color: #3a47fc;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    color: #ffffff;
    padding:7px;
}
input
{
    padding:7px;
}
.form__group i
{
       
    background-color: #c7c3c3;
    padding:7px;
    border:none;
    margin-right: none;
    margin-left: 40px;
}
#info i 
{
        margin-right: 4px;
        border: 0.01px solid #babdc2;
        color:blue;
        margin-right: 10px;
        padding-left: 8px;
           padding-right: 8px;
              padding-bottom: 2px;
                 padding-top: 2px;
    background-color: none;
        margin-left: 40px;
            border-radius: 20px;
}
h4 i
{

    align-items: flex-end;
    margin-left: 40px;
    margin-bottom: 10px;
    margin-top:10px; 
    border: none;
    padding: 10px;
    border-radius: 20px;
    background-color: #adc9ff;
}
/* Navigation */

nav ul
{
    list-style-type: none;
    display: flex;
    margin-right: 40px; 
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;   
}

nav a:hover
{
    color: #3a47fc;
    border-top: 2px solid #3a47fc;

}

/* corps */
#Hébergements 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 400px;
}
.element i
{
    color:blue;
}
#activites
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 500px;
}
.element
{
    background-color: white;
    width: 30%;
    min-width: 200px;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 15px;
    border: none;
}
.element img
{
    width: 100%;
    height: 100px;
    object-fit: cover;
    object-position: center center;
}
section
{
	width: 60%;

}
aside
{
	width: 25%;
}

aside i 
{
       border: none;
       margin-left: 60px;
}
aside , section
{
    margin-top: 30px;
    margin-left : 40px;
    margin-right: 30px;
    vertical-align: top;
    margin-bottom: 55px;
    display: inline-block;  
    background-color: #e3e2e1;
    border-radius: 20px;
    padding: 10px;
    color: black;
    font-size: 0.9em;
    height: 600px;
    overflow: auto;

}
article
{
margin-left : 40px;
margin-right: 20px;
}

/* Footer */

footer
{
    display: flex;
    background-color: #e3e2e1;
    padding-top: 25px;
}

footer a, footer ul
{

        font-weight: bold;
        display:block;
        text-decoration: none;
        color:black;
        margin-bottom: 10px;

}

footer h1
{
    font-size: 1.2em;
}
#Apropos
{
    width: 34%;
    margin-left: 40px;
}
#NosHébergements
{
    width: 34%;
}
#Assistance
{
    width: 34%;
}
